body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #ffffff;	
    color: #ffffff;
}

div{
	
}

h1, h2, h3, h3, h4, h4, h5, h6{
    color: #ffffff;
}

.container{
	width: 100%;
	height: 100%;  
    position:absolute;
}

.row{
	width: 100%;
}

.clearfix{
    clear: both;   
}

.absolute-right{		
	position: absolute;
	right: 0;
    
}

/* START 0F HOME SECTION */

#home{
    
    height: 100%;
    background-image: url('../assets/home_bg_gradient.png');
    background-repeat:repeat-x; 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D9D9D9), to(#AfAfAf));
   background-image: -webkit-linear-gradient(top, #D9D9D9, #AfAfAf); 
   background-image:    -moz-linear-gradient(top, #D9D9D9, #AfAfAf);
   background-image:     -ms-linear-gradient(top, #D9D9D9, #AfAfAf);
   background-image:      -o-linear-gradient(top, #D9D9D9, #AfAfAf);
}

#top-home{
    position:absolute;
    height: 38%; 
    
}

#whirl{
    max-width: 32%;
}

#m{
  max-width: 11%;  
}

#logo_bg{	
	left: 0;
	top: 40%;
	width: 450px;
	position: absolute;
	/*background-color: #753D95;*/    
    /*overflow: hidden;*/
    max-width: 31%;
}

#logo_bg img{
    position: absolute;   
}

#logo-text-bg-image{
    width: 100%;
    max-width: 100%;
}

#logo-text{    
    max-width: 85%;
    margin: 10px 2px;
}

#mid-home{
    position: absolute;
    top: 40%;
    height: 44%;
    background-color: #753D95;
    
    font-family: 'Tahoma'; /* to be changed */
    font-size: 3em;
    line-height: 0.1em;
}

#mid-home img{
    height: 100%;
}

#mid-home div{
    position: absolute;
    top: 2%;
    left: 50%;
}


#home-bottom{
    position: absolute;
    top: 84%;
}

#scroll-button{
    width: 60px;
    height: 60px;
    background-color: #753D95;
    position: absolute;
    left: 55%;
    top: -30px;
    
    transform: rotate(315deg);
	-ms-transform: rotate(315deg); /* IE 9 */
	-webkit-transform: rotate(315deg); /* Safari and Chrome */
}

#scroll-plus{
    position: absolute;
    width: 60px;
    margin: 0;
    padding: 0 20px;
    left: 55%;
    font-size: 2em;
    z-index: 2;
}

/* END 0F HOME SECTION */

#we{
    top: 100%;
}

#we-header{
    height: 100px;
    background-color: #ffffff;
}


/*
#logo_rotate_div{
	background-color: #D9D9D9;
	width: 200px;
	height: 200px;
	position: absolute;
	right: 0;
	top: 0;

	-webkit-transform-origin: right top;
	-moz-transform-origin: right top;
	-ms-transform-origin: right top;
	-o-transform-origin: right top;

	transform: rotate(315deg);
	-ms-transform: rotate(315deg); /* IE 9 
	-webkit-transform: rotate(315deg); /* Safari and Chrome 
}
*/