body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	overflow: auto;
}

div{
	
}

#home{
	height: 100%;
}

#logo_bg{
	position: absolute;
	top-padding: 10%;
	background-color: #753D95;
	width: 32%;
	height: 11%;
}

#logo_rotate_div{
	position: absolute;
	background-color: #ffffff;
	height: 100%;
	width: 24%;
	float: right;
	display: inline-block;
	padding: 0;
	margin: 0;
	-webkit-transform-origin: right top;
	-moz-transform-origin: right top;
	-ms-transform-origin: right top;
	-o-transform-origin: right top;

	transform: rotate(315deg);
	-ms-transform: rotate(315deg); /* IE 9 */
	-webkit-transform: rotate(315deg); /* Safari and Chrome */
}

#whirl{
	position: absolute;
	top: 0;
	float: right;
	background-image: url('../assets/whirl.png');
	
}